@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Layout.NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="app-title">EventEase</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
