<div class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
        Home
    </NavLink>
    <NavLink href="events" class="nav-link">
        Events
    </NavLink>
    <NavLink href="registration" class="nav-link">
        Register
    </NavLink>
    <NavLink href="attendance" class="nav-link">
        Attendance Tracker
    </NavLink>
</div>
